@import url(./_active/button_active.css);

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  display: block;
  cursor: pointer;
}

.button:focus {
  outline-color: greenyellow;
}
