.image-popup__content {
    /* max-width: 80vw;  */
    /* height: 80vh;  */
    position: relative;
    box-sizing: border-box;
    /* padding: 20% auto; */
    background-position: center;
    background-size: cover;
  }
  
  @media screen and (max-width: 540px) {
    .image-popup__content {
      width: calc(100% - 60px);
    }
  }
  