.user-info__edit-button {
    width: 38px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    margin-top: 28px;
}

@media screen and (max-width: 980px) {
    .user-info__edit-button {
        margin-right: auto;
        margin-left: auto;
    }
}